body {
  background-color: #212121;
}

.container {
  border: 1px solid black;
  margin: 70px auto;
  padding: 40px;
  max-width: 50%;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(142, 142, 150, 0.5) 20px 20px 20px 0;
}

.basic-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 3fr 1fr 1fr;
  width: 80%;
}

.card-1 {
  margin-left: 50px;
  line-height: 1.5;
}

.card-2 {
  margin-left: 80px;
  padding: 0;
}

.card-3 {
  padding: 0;
  margin-left: -20px;
}

h1 {
  font-size: 40px;
  margin-left: 40px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  font-size: 16px;
}

#details {
  line-height: 1.5;
}

#searchBar {
  display: block;
  text-align: center;
}

#citySearch {
  width: 60%;
  height: 45px;
  padding-left: 10px;
  border-radius: 10px;
  font-size: 16px;
}

#submitButton {
  height: 50.2px;
  width: 20%;
  margin-left: 10px;
  margin-right: 0;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #212121;
  background-color: #212121;
  border-radius: 10px;
  color: white;
  text-align: center;
}

#hr-top {
  max-width: 95%;
  color: rgb(231, 225, 225);
  font-size: 1px;
  margin: 40px auto;
}

#hr-botom {
  max-width: 95%;
  color: rgb(231, 225, 225);
  font-size: 1px;
  margin: 40px auto;
}

p {
  text-align: center;
}

#degrees {
  font-size: 50px;
}

#units {
  position: relative;
  font-size: 16px;
  top: -25px;
}

#icon {
  margin-top: -15px;
}
