body {
  background-color: #212121;
}

.container {
  border: 1px solid black;
  margin: 70px auto;
  padding: 40px;
  max-width: 50%;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(142, 142, 150, 0.5) 20px 20px 20px 0;
}

.basic-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.card {
  padding: 10px;
}

h1 {
  font-size: 40px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  font-size: 16px;
}

#details {
  line-height: 1.5;
}

#citySearch {
  width: 570px;
  height: 45px;
  padding-left: 10px;
  border-radius: 10px;
  font-size: 16px;
}

#submitButton {
  height: 50.2px;
  padding: 10px 40px;
  margin-left: 10px;
  margin-right: 0;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #212121;
  background-color: #212121;
  border-radius: 10px;
  color: white;
}

#hr-top {
  max-width: 95%;
  color: rgb(231, 225, 225);
  font-size: 1px;
  margin: 40px auto;
}

#hr-botom {
  max-width: 95%;
  color: rgb(231, 225, 225);
  font-size: 1px;
  margin: 40px auto;
}

p {
  text-align: center;
}
